.env
*.war
takserver-*.zip
tak/
investigation/
originalWAR/
chatbot/
server.pref
manifest.xml

# Directories for runtime data
var/lib/headcale/*
etc/letsencrypt/*
etc/npm/*
var/lib/headscale/*
var/lib/postgresql/data/*